.header {
  padding: 8px 50px;
  height: 50px;
  position: relative;
  background: -webkit-linear-gradient(to bottom, #eee, #fff, #fff, #fff, #eee); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(to bottom, #eee, #fff, #fff, #fff, #eee); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(to bottom, #eee, #fff, #fff, #fff, #eee); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, #eee, #fff, #fff, #fff, #eee);
}